# Prerequisites
pico-sdk/
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store

# Build directories and files
build/
doth/filter.h
doth/easings.png
doth/easing.h
doth/audio2h.h
audio2h/converted/
audio2h/files.json
